* {
    box-sizing: border-box;
}

:root {
    --main-background: #cc0000;
    --card-background: lightgray;
    --hover-background: gray;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

main {
    flex: 1 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: var(--main-background);
}

header a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

footer {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--main-background);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.page-section {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: var(--card-background);
}

#instructions-section ul {
    list-style: circle;
    padding-left: 25px;
}

#gameplay-section {
    flex: 1 1 auto;
    max-width: 40%;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}

#gameplay-section:hover {
    background-color: var(--hover-background);
}

#instructions-section {
    flex: 1 1 auto;
    max-width: 60%;
}

#stats-section {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

#stats-table th, td {
    padding: 1rem;
    border: 1px solid black;
    text-align: center;
}

#trivia-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#username-module {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown-timer {
    font-size: 300%;
    align-self: center;
}

#prompt-header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

#prompt-header > div {
    display: flex;
    justify-content: end;
}

#streak {
    font-size: 150%;
    font-weight: 700;
    margin-right: 1.5rem;
}

#timer {
    width: 3rem;
    height: 3rem;
    font-size: 150%;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#multiplechoice-module {
    display: none;
    flex-direction: column;
}

#shortanswer-module {
    display: none;
    flex-direction: column;
}

#endgame-module {
    display: none;
    flex-direction: column;
    align-items: center;
}

#endgame-module ul {
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
}

#replay-button, #exit-button {
    width: 100px;
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }
    #gameplay-section, #instructions-section {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
    #stats-section {
        margin-top: 0;
    }
}